@font-face {
  font-family: "Gilroy Extrabold";
  src: url(../fonts/gilroyextrabold.woff2);
}
@font-face {
  font-family: "Gilroy Light";
  src: url(../fonts/gilroylight.woff2);
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans.woff2);
}
@font-face {
  font-family: "Open Sans Light";
  src: url(../fonts/opensanslight.woff2);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  letter-spacing: 0.01em;
}
.button {
  border: none;
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 18px;
  line-height: 24px;
  background-color: #ffffff;
  padding-left: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.logo-main {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 48px;
  text-transform: uppercase;
}
.header-main {
  background-color: #f7e296;
}
.header-main ul {
  list-style-type: none;
}
.navigation__button {
  border: none;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  background-color: rgb(247, 226, 150);
  padding-left: 0;
  letter-spacing: normal;
}
.navigation-aux a{
  text-decoration: none;
  color: #000000;
}
.navigation-catalog__button {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.site-navigation a {
  text-decoration: none;
  color: #000000;
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.offer__title {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 47px;
  line-height: 56px;
}
.offer__link {
  text-decoration: none;
  color: #000000;
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.offer__feautures th {
  font-family: "Open Sans Light","Arial",sans;
  font-size: 13px;
  line-height: 20px;
}
.offer__feautures td {
  font-family: "Gilroy Light","Arial",sans;
  font-size: 36px;
  line-height: 48px;
}
.offer ul {
  list-style-type: none;
}
.offer a {
  text-decoration: none;
  color: #000000;
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 18px;
  line-height: 24px;
}
.slider-button {
  width: 12;
  height: 12;
  border-color: #000000;
  border-width: thin;
  border-style: solid;
  border-radius:2px;

}
.slider-buttons ul {
  list-style: none;
}
.services ul {
  list-style-type: none;
}
.service-name {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 47px;
}
.brends ul {
  list-style-type: none;
}
.about-us h2 {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 47px;
  line-height: 48px;
}
.about-us ul {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 16px;
  line-height: 40px;
}
.about-us button {
  letter-spacing: 3.6px;
}
.contacts h2 {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 47px;
  line-height: 48px;
}
.contacts ul {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 16px;
  line-height: 40px;
}
.contacts button {
  letter-spacing: 0.2em;
}
.footer-main {
  background-color: #464646;
  color: #ffffff;
}
.footer-main ul {
  list-style-type: none;
}
.logo-footer {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 48px;
  color: #ffc600;
  letter-spacing: 0.01em;
}
.compare-footer__button {
  background-color: #464646;
  color: #ffffff
}
.catalog-footer__button {
  background-color: #464646;
  color: #ffffff
}
.navigation-aux-footer a {
  color: #ffffff;
  text-decoration: none;
}
.site-navigation-footer a{
  text-decoration: none;
  color: #ffffff;
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
/*-------------------сеточные стили---------------*/
.header-main {
  margin-top: 40px;
}
.main-navigation-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: -110px;
}
.logo-main {
  margin-bottom: 15px;
  margin-left: 48px;
  position:relative;
  top:-15px;
}
.navigation-aux ul{
  display: flex;
  width: 1042px;
  margin:  0;
  padding: 0;
  margin-left: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
}
.navigation-aux li:nth-child(2){
  margin: 0 auto;
}
.navigation-aux li:nth-child(3){
  margin-right: 20px;
}
.site-navigation ul {
  display: flex;
  justify-content: space-between;
  width: 1042px;
  margin: 0;
  padding: 0;
  margin-bottom: 145px;
  margin-left: 50px;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}
.slider {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom:  150px;
}
.slider:not(:first-child) {
  display: none;
}
.offer-info {
  width: 500px;
}
.offer-number {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 179px;
  color: white;
  text-align: right;
  margin: 0;
  margin-top: 45px;
}
.offer__title {
  margin: 0;
  margin-top: -13px;
  margin-bottom: 20px;
}
.offer__description {
  margin: 0;
  margin-bottom: 45px;
}
.feauters-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.offer__feautures {
  width: 100%;
  order: 1;
}
.slider-buttons {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 50px;
}
.popular__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.popular__item {
  width: 160px;
  margin; 0;
}
.cervices__wrapper {
  display: flex;
}
.service-description__wrapper {
  width: 500px;
  margin-left: 120px;
}
.service-description__item:not(:first-child) {
  display: none;
}
.services__button {
  width: 280px;
}
