@font-face {
  font-family: "Gilroy Extrabold";
  src: url(../fonts/gilroyextrabold.woff2);
}
@font-face {
  font-family: "Gilroy Light";
  src: url(../fonts/gilroylight.woff2);
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans.woff2);
}
@font-face {
  font-family: "Open Sans Light";
  src: url(../fonts/opensanslight.woff2);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
  letter-spacing: 0.01em;
}
.button {
  border: none;
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 18px;
  line-height: 24px;
  background-color: transparent;
  padding-left: 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.logo-main {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
.header-main {
  background-color: #f7e296;
}
.header-main ul {
  list-style-type: none;
}
.navigation__button {
  border: none;
  font-family: "Gilroy Extrabold","Arial",sans;
  size: 18px;
  line-height: 30px;
  background-color: rgb(247, 226, 150);
  padding-left: 0;
  letter-spacing: normal;
}
.navigation-user a{
  text-decoration: none;
  color: #000000;
}
.navigation-catalog__button {
  margin: 0;
  padding: 0;
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: none;
  background-color: rgb(247, 226, 150);
  cursor: pointer;
}
.site-navigation a {
  text-decoration: none;
  color: #000000;
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.offer__title {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.01em;
}
.offer__link {
  text-decoration: none;
  color: #000000;
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.offer__feautures th {
  font-family: "Open Sans Light","Arial",sans;
  font-size: 13px;
  line-height: 20px;
}
.offer__feautures td {
  font-family: "Gilroy Light","Arial",sans;
  font-size: 36px;
  line-height: 48px;
}
.offer ul {
  list-style-type: none;
}
.offer a {
  text-decoration: none;
}
.button-stylized {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  vertical-align: middle;
  background-image: linear-gradient(transparent 15px,#f4d361 15px, #f4d361 16px, #f0c52e 16px, #f0c52e 23px, #f4d361 23px, #f4d361 24px, transparent 24px );
}
.button-active {
  background: none;
  background-color: #000000;
  color: #f7e184;
}
.slider-button {
  width: 12;
  height: 12;
  border-color: #000000;
  border-width: thin;
  border-style: solid;
  border-radius:2px;

}
.slider-buttons ul {
  list-style: none;
}
.popular__item a{
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 18px;
  line-height: 24px;
  color: black;
}
.services ul {
  list-style-type: none;
}
.service-name {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 47px;
}
.brends ul {
  list-style-type: none;
}
.brend-item {
  filter: grayscale(1);
  opacity: 0.2;
}
.about-us h2 {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 47px;
  line-height: 48px;
}
.about-us ul {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 16px;
  line-height: 40px;
}
.about-us button {
  letter-spacing: 3.6px;
}
.contacts h2 {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 47px;
  line-height: 48px;
}
.contacts ul {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 16px;
  line-height: 40px;
}
.contacts button {
  letter-spacing: 0.2em;
}
.footer-main {
  background-color: #464646;
  color: #ffffff;
}
.footer-main ul {
  list-style-type: none;
}
.logo-footer {
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 48px;
  color: #ffc600;
  letter-spacing: 0.01em;
}
.compare-footer__button {
  background-color: #464646;
  color: #ffffff
}
.catalog-footer__button {
  background-color: #464646;
  color: #ffffff
}
.navigation-user-footer a {
  color: #ffffff;
  text-decoration: none;
}
.site-navigation-footer a{
  text-decoration: none;
  color: #ffffff;
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
/*-------------------сеточные стили---------------*/
.container {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-main {
  margin-bottom: : 0;
  margin-top: 40px;
  border: 1px solid transparent;
  position: relative;
}
.logo-main:hover,
.navigation-user li:hover,
.site-navigation li:hover {
  opacity: 0.6;
  cursor: pointer;
}
.logo-main:active,
.navigation-user li:active,
.site-navigation li:active {
  opacity: 0.3;
}
.main-navigation-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 42px;
  margin-bottom: -110px;
}
.logo-main {
  margin-left: 46px;
  position: absolute;
  top: -48px;
}
.navigation-user ul{
  display: flex;
  flex-wrap: wrap;
  width: 1042px;
  margin:  0;
  padding: 0;
  margin-left: 50px;
  margin-bottom: 33px;
  justify-content: space-between;
  align-items: stretch;
}
.navigation-user li {
  padding: 0;
  margin: 0;
  padding-left: 30px;
  position: relative;
}
.navigation-user li input {
  display: inline-block;
  vertical-align: middle;
}
.navigation-user li:nth-child(1){
  padding-left: 28px;
  margin-right: 175px;
}
.navigation-user li:nth-child(2){
  margin: 0 auto;
  padding-left: 26px;
}
.navigation-user li:nth-child(3){
  margin-right: 43px;
  padding-left: 15px;
}
.navigation-user li:nth-child(4){
  padding-left: 20px;
  margin-right: 3px;
}
.navigation-user li:before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 9px;
  left: 1px;
}
.navigation-user li:nth-child(1):before {
  background: url(../img/search.svg) no-repeat;
  top: 8px;
  left: 2px;
}
.navigation-user li:nth-child(2):before {
  background: url(../img/user.svg) no-repeat;
}
.navigation-user li:nth-child(3):before {
  background: url(../img/compare.svg) no-repeat;
  top: 11px;
}
.navigation-user li:nth-child(4):before {
  background: url(../img/cart.svg) no-repeat;
  left: -2px;
}


.site-navigation ul {
  display: flex;
  justify-content: space-between;
  width: 1045px;
  margin: 0;
  padding: 0;
  margin-bottom: 155px;
  margin-left: 48px;
}
.site-navigation li:nth-child(1) {
  width: 509px;
  padding: 0;
  position: relative;
}
.site-navigation li:nth-child(2) {
  min-width: 125px;
}
.site-navigation li:nth-child(3) {
  min-width: 120px;
  margin-right: 73px;
}
.site-navigation li:nth-child(4) {
  margin-left: -2px;
}
.site-navigation li:nth-child(1)::after {
  content: "";
  background: url(../img/plus.svg) no-repeat;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 7px;
  left: 231px;
  opacity: 0.3;
}
.offer__item {
  padding: 0;
  margin: 0;
}
.slider {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom:  95px;
  background-image: linear-gradient(#f7e296 114px, #ffffff 114px);
}
.slider img{
  margin-left: 91px;
  margin-top: 3px;
}
.slider:not(:first-child) {
  display: none;
}
.offer-info {
  width: 520px;
  margin-right: 40px;
  padding-top: 19px;
}
.offer-number {
  padding: 0;
  font-family: "Gilroy Extrabold","Arial",sans;
  font-size: 179px;
  color: white;
  text-align: right;
  margin: 0;
  margin-top: 45px;
  margin-right: 7px;
  position:relative;
}
.offer-number::before {
  content: "";
  width: 100px;
  height: 7px;
  position: absolute;
  background-color: #ffffff;
  left: 0;
  top: -23px;
}
.offer__title {
  margin: 0;
  margin-top: -13px;
  margin-bottom: 20px;
}
.offer__link {
  width: 220px;
}
.offer__link:hover {
  background-image: none;
  background-color: #f0c52e;
}
.offer__link:active {
  background-image: none;
  background-color: none;
  opacity: : 0.3;
}

.offer__description {
  margin: 0;
  margin-bottom: 45px;
}
.feauters-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.offer__feautures {
  width: 100%;
  order: 1;
}
.slider-buttons {
  display: flex;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 50px;
}
.popular__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 72px;
}
.popular__item {
  width: 160px;
  padding: 0;
  padding-top: 200px;
  margin; 0;
  position: relative;
}

.popular__item a::before {
  content: "";
  width: 160px;
  height: 160px;
  position: absolute;
  top: 11px;
  background-color: #f7e296
}
.popular__item a::after {
  content: "";
  width: 160px;
  height: 160px;
  position: absolute;
  top: 11px;
  left: 0;
}
.popular__item:nth-child(1) a::after {
  background:  url(../img/popular-1.svg) 50% 50% no-repeat;
}
.popular__item:nth-child(2) a::after {
  background: url(../img/popular-2.svg) 50% 100% no-repeat;
}
.popular__item:nth-child(3) a::after {
  background: url(../img/popular-3.svg) 50% 50% no-repeat;
}
.popular__item:nth-child(4) a::after {
  background: url(../img/popular-4.svg) 50% 50% no-repeat;
}
.popular__item:nth-child(5) a::after {
  background: url(../img/popular-5.svg) 50% 50% no-repeat;
}
.popular__item:nth-child(6) a::after {
  background: url(../img/popular-6.svg) 50% 50% no-repeat;
}
.popular__item a:hover::after {
  background-color: #f0c52e;
}
.popular__item:active,
.popular__item a:active::after {
  opacity: 0.3;
}
.cervices__wrapper {
  display: flex;
  padding: 0;
}
.service-description__wrapper {
  width: 500px;
  margin-left: 120px;
  border: 1px dashed red;
}
.service-description__item:not(:first-child) {
  display: none;
}
.services__button {
  margin: 0;
  padding: 0;
  width: 277px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding-top: 80px;
  border-right: 7px solid black;
}
.services__button li {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
.services__button li input{
  width: 100%;
  padding: 20px;
}
.services__button li:hover {
  background: none;
  background-color: #f0c52e;
}
.services__background {
  width:100%;
  height: 300px;
  background-color: #e5e5e5;
  margin-top: -170px;
}
.brends__list {
  display: flex;
  justify-content: space-between;
}
.brend-item:hover {
  opacity: 1;
  filter: grayscale(0);
}
.firm-info__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 65px;
}
.about-us {
  width: 480px;
  display: flex;
  flex-direction: column;
}
.contacts {
  width: 560px;
  display: flex;
  flex-direction: column;
}
.firm-info__wrapper ul{
  margin-bottom: 50px;
}
.firm-info__wrapper .button {
  margin-right: auto;
  margin-top: auto;
}
.footer-navigation-user_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-user-footer__list {
  display: flex;
  margin-top: auto;
}
.navigation-user-footer__list li:not(:first-child){
  margin-left: 50px;
}
.site-navigation-footer__list {
  display: flex;
  justify-content: center;
}
.site-navigation-footer__list li:not(:last-child) {
  margin-right: 39px;
}
.footer-contacts__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: -55px;
}
.footer-contacts__wrapper p{
  margin: 0;
}
.social {
  display: flex;
  justify-content: center;
}
.social li:nth-child(2) {
  margin-right: 19px;
  margin-left: 19px;
}
